{% extends 'vacay/base_tohome.html' %}
{% block title %}Eat? Or Drink?{% endblock %}
{% block body %}

<br>
<br>
<br>
<style>

html, body{
  background:linear-gradient(0deg,rgba(20,150,250,0.3),rgba(0,100,250,0.3)), url("/static/vacay/images/restaurantbg.png") no-repeat center center fixed;
  background-size:cover;
}

@font-face {
  font-family: Futura;
  src: url('.../FuturaStdLight.woff') format("WOFF");
  font-weight: 300;
}

form h1 {
  font-size: 25px;
  color: #F7D479;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-align:center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight:600;
}

#form {
  border-radius: 5px;
  max-width:1000px;
  width:auto;
  height:auto;
  margin-bottom: 2%;
  margin-left:auto;
  margin-right:auto;
  margin-top:3%;
  padding-bottom:30px;
  opacity:0.9;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}


p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: rgb(241, 177, 14);
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

a {
  text-decoration:inherit
}

.form-group {
  overflow: hidden;
  width:100%;
}

.contentform {
  float:middle;
  margin:auto;
}

.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  box-sizing: border-box;
}

div.home-large-btn {
  display: inline-block;
  border: 2px solid #fff;
  background-color: white;
  text-align: center;
  width: 100%;
  height:250px;
  border-radius: 10px;
  position: relative;
  margin-bottom:10px;
}

.btn-text {
    position: absolute;
    top: 80%;
    left: 75%;
    width:100%;
    font-size:40px;
    color:white;
    font-weight:600;
    transform: translate(-50%, -50%);
}

</style>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<img src="/static/vacay/images/processing.gif" class="glyphicon glyphicon-fire" aria-hidden="true" style="position:fixed; left:50%; float:middle; border-radius: 1px;
	transform:translate(-50%, -50%); width:auto; z-index:100; top:120px; display: none;" id="gif">

<form id="form">
	  {% csrf_token %}
      <h1 style="font-size:25px; font-weight:800; margin-bottom:30px;
        color: #ffe680; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center; width:100%;">EAT OR DRINK?</h1>

      <div class="container-fluid" style="margin-top:2%;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="pan" style="max-width:500px; height:auto; margin-bottom: auto; margin-left:auto; margin-right:0; opacity:0.9; overflow: hidden;">
                        <div class="contentform">
                            <div class="formcontent">
                                <div style="width:100%; text-align:center; max-height:300px;">
                                    <div class="home-large-btn" id="eat" onclick="eat()">
                                        <center>
                                            <img src="/static/vacay/images/eatbackground.jpg" style="width:100%; height:100%; border-radius:8px;">
                                            <div class="btn-text">FOOD</div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pan2" style="max-width:500px; height:auto; margin-bottom: auto; margin-left:0; margin-right:auto; opacity:0.9; overflow: hidden;">
                        <div class="contentform">
                            <div class="formcontent">
                                <div style="width:100%; text-align:center;">
                                    <div class="home-large-btn" id="drink" onclick="drink()">
                                        <center>
                                            <img src="/static/vacay/images/drinkbackground.jpg" style="width:100%; height:100%; border-radius:8px;">
                                            <div class="btn-text">DRINK</div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
</form>

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC1e8-93-ia4seBJlMR7_BPt-pxnWGrgNA",
    databaseURL: "https://vacay-42bcd.firebaseio.com",
    projectId: "vacay-42bcd",
    storageBucket: "vacay-42bcd.appspot.com"
  };
  firebase.initializeApp(config);
</script>

<script src="/static/vacay/noti_alert.js"></script>

<script>
    function eat(){
        window.location.href = "https://vacayalldays.com/eat";
    }
    function drink(){
        window.location.href = "https://vacayalldays.com/drink";
    }
</script>

{% endblock %}















