{% extends 'vacay/base_tohome.html' %}
{% block title %}Friend Profile{% endblock %}
{% block body %}

<br>
<br>
<br>
<style>

html, body{
  background: linear-gradient(0deg,rgba(100,50,250,0.0),rgba(100,50,250,0.3),rgba(100,50,250,0.3),rgba(100,50,250,0.0)),
  url("/static/vacay/images/profilebg.png") no-repeat center center fixed;
  background-size:cover;
}

img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

form h1 {
  font-size: 22px;
  font-weight:600;
  color: rgb(255, 255, 255);
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:middle;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#edit {
  border-radius: 5px;
  max-width:100%;
  width:auto;
  height:auto;
  margin-top:2%;
  margin-bottom: 2%;
  margin-left:auto;
  margin-right:auto;
  opacity:0.9;
  overflow: hidden;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 0px 50px 50px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 92%;
  height: 42px;
  float: middle;
  padding: 0px 15px;
  opacity: 0.8;
  color:black;
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px;
  float: left;
  padding: 15px 15px;
  opacity: 0.8;
  color:black;
}

.form-group {
  overflow: hidden;
  width:100%;
}

.icon-case {
  width: 8%;
  float: left;
  border-radius: 50px 0px 0px 50px;
  background:green;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
  padding-top:11px;
}

i {
  color:yellow;
}

.contentform {
  float:middle;
  margin:auto;
}

.bouton-update{
  background:linear-gradient(90deg,rgb(102, 51, 0),rgb(102, 51, 0),rgb(102, 51, 0),rgb(102, 51, 0));
  color: #FFF;
  text-align: center;
  width: 100%;

  margin-bottom:5%;
  border:0;
  padding: 12px 18px;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  font-size: 16px;
}

.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  <!--border-right: 1px dotted #CCC;-->
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
}

#city {
  border-radius: 0px 0px 0px 0px;
  border: 1px solid #eee;
  width: 80%;
  height: 42px;
  padding: 0px 15px;
  opacity: 0.8;
  color:black;
  float:left;
}

#map {
  border-radius: 0px 0px 0px 0px;
  border: 0px solid #eee;
  width: 12%;
  height: 42px;
  padding: 0px 15px;
  opacity: 0.8;
  color:black;
  float:left;
  background-image: url(/static/vacay/images/loc.png); /* 16px x 16px */
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: 0px 0px;  /*
}

</style>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


  <form id="edit" action="{% url 'match_friend' %}" method="post" enctype="multipart/form-data">
	  {% csrf_token %}
      <h1 style="font-size:25px; font-weight:800; margin-bottom:30px;
        color: #ffe680; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center; width:100%;">Friend Profile</h1>

      <div class="container-fluid" style="margin-top:2%;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="pan" style="max-width:500px; height:auto; margin-bottom: auto; margin-left:auto; margin-right:0; opacity:0.9; overflow: hidden;">
                        <div class="contentform">
                            <div class="formcontent">
                                <div class="form-group" style="margin-bottom:20px;">
                                    <div style="width:100%;">
                                        <div style="width:25%; padding:10px; float:left;">
                                            <center>
                                                <img src="{{friend.photo_url}}" style="width:120px; height:120px; border-radius: 50%; border:5px solid rgba(255,255,255,0.8); box-shadow:0px 0px 15px rgba(0,0,0,0.8);" id="output">
                                            </center>
                                        </div>
                                        <div style="max-width:70%; float:left; padding-left:15%; margin-top:40px;">
                                            <div style="font-size:20px; font-weight:500; color:white; word-break: break-all; word-wrap: break-word;">{{friend.first_name}} {{friend.last_name}}</div>
                                            <div style="font-size:16px; color:white; word-break: break-all; word-wrap: break-word;">{{friend.email}}</div>
                                        </div>
                                    </div>
                                    <center>
                                        <div id="surv" style="float:left; padding:0px 16px 0px 16px; color: #fff; font-weight:500;
                                            font-size:16px; width:100%; text-align:left; white-space: pre-line; display:block;">
                                            {{friend.survey}}
                                        </div>
                                    </center>
                                </div>
                                <div class="form-group">
                                    <p>Current Job <span>*</span></p>
                                    <span class="icon-case"><i class="fa fa-briefcase"></i></span>
                                    <input type="text" name="job" data-rule="required" data-msg="" required id="job" value="{{friend.job}}" readonly/>
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <p>City <span>*</span></p>
                                    <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                                    <input type="text" name="city" data-rule="required" data-msg="" required id="city" value="{{friend.address}}" readonly/>
                                    <input type="button" name="map" id="map" onclick="show_onmap()" readonly>
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <p>Age <span>*</span></p>
                                    <span class="icon-case"><i class="fa fa-child"></i></span>
                                    <input type="text" name="age" data-rule="required" data-msg="" required id="age" value="{{friend.age}}" readonly/>
                                    <div class="validation"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pan2" style="max-width:500px; height:auto; margin-bottom: auto; margin-left:0; margin-right:auto; opacity:0.9; overflow: hidden;">
                        <div class="contentform">
                            <div class="formcontent">
                                <div class="form-group">
                                    <p>Gender <span>*</span></p>
                                    <span class="icon-case"><i class="fa fa-female"></i></span>
                                    <input type="text" name="gender" data-rule="required" data-msg="" required id="gender" value="{{friend.gender}}" readonly/>
                                </div>
                                <div class="form-group">
                                    <p>Dating Preference <span>*</span></p>
                                    <span class="icon-case"><i class="fa fa-male"></i></span>
                                    <input type="text" name="datingpref" data-rule="required" data-msg="" required id="datingpref" value="{{friend.datingpref}}" readonly/>
                                </div>
                                <div class="form-group">
                                    <p>Education <span>*</span></p>
                                    <span class="icon-case"><i class="fa fa-mortar-board"></i></span>
                                    <input type="text" name="education" data-rule="required" data-msg="" required id="education" value="{{friend.education}}" readonly/>
                                    <div class="validation"></div>
                                </div>
                                <p>Video <span>*</span></p>
                                <center>
                                     <div class="form-group" style="width:auto; margin-bottom:20px;">
                                         <video id="videoresult" autobuffer  controls width="250" autoplay loop style="margin-bottom:5px; background-image: url('/static/vacay/images/videobackg.jpg'); background-size:cover;">
                                             <source src="{{friend.video}}" id="videohere"/>
                                         </video>
                                    </div>
                                </center>
                                <div class="form-group" style="padding-left:20px;">
                                    <div>
                                        <p>Interests <span>*</span></p>
                                        <div id="interests" style="padding:0px 8px 8px 30px; color: #fff; font-weight:500; float:left;
                                            font-size:16px; text-align:left; white-space: pre-line; word-break: break-all; word-wrap: break-word;">
                                            {{friend.interests}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="padding-left:20px;">
                                    <p>{% if 'common' in friend.relationship %}Info{% else %}Department{% endif %} <span>*</span></p>
                                    <div id="relationship" style="padding:0px 8px 8px 30px; color: #fff; font-weight:500; font-size:16px; text-align:left; white-space: pre-line;">
                                        {{friend.relationship}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>

  </form>

<script>
    if(document.getElementById("relationship").innerHTML.includes("common")){
        document.getElementById("relationship").innerHTML = document.getElementById("relationship").innerHTML.replace("common", "");
    }
    var surflag = false;
    function show_onmap(){
        var city = document.getElementById('city');
        window.location.href = "https://vacayalldays.com/userloc?address=" + city.value.replace(' ', '+');
    }
    function show_survey(){
        var survey = document.getElementById('surv');
        if (surflag){
            surflag = false;
            survey.style.display = 'none';
        }else {
            surflag = true;
            survey.style.display = 'block';
        }
    }
</script>

{% endblock %}














