{% extends 'vacay/base_inbox.html' %}
{% block title %}Mail Detail{% endblock %}
{% block body %}

<br>
<br>
<br>
<style>

html, body{
  background: linear-gradient(0deg,rgba(20,150,250,0.6),rgba(0,100,250,0.6)), url("/static/vacay/images/profilebackground.png") no-repeat center center fixed;
  background-size:cover;
}

form h1 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:middle;
  font-family: 'Satisfy', Apple Chancery, cursive;
}

#edit {
  border-radius: 5px;
  max-width:100%;
  width:auto;
  height:auto;
  margin-top: 2% auto;
  margin-bottom: 2% auto;
  margin-left:auto;
  margin-right:auto;
  <!--background:linear-gradient(30deg,rgba(200,150,250,0.7),rgba(50,200,250,0.7));-->
  opacity:0.9;
  overflow: hidden;
  <!--box-shadow: 25px 25px 0 rgba(0, 0, 0, 0.2);-->
}
#edit:hover {
  <!--background:linear-gradient(0deg,rgba(200,50,250,0.7),rgba(50,200,250,0.7));-->
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}


a {
  text-decoration:inherit
}

textarea {
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #EEE;
  margin: 0;
  width: 100%;
  height: 200px;
  float: middle;
  padding: 15px 15px;
  opacity: 0.8;
  color:black;
}

.form-group {
  overflow: hidden;
  width:100%;
}

.contentform {
  padding: 0px 10px 30px 10px;
  float:middle;
  margin:auto;
}

.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  <!--border-right: 1px dotted #CCC;-->
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
}

</style>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--<meta name="mobile-web-app-capable" content="yes">-->
<!--<meta name="apple-mobile-web-app-capable" content="yes">-->

<!--<script>-->
  <!--function launchFullScreen(element) {-->
  <!--if(element.requestFullScreen) {-->
    <!--element.requestFullScreen();-->
  <!--} else if(element.mozRequestFullScreen) {-->
    <!--element.mozRequestFullScreen();-->
  <!--} else if(element.webkitRequestFullScreen) {-->
    <!--element.webkitRequestFullScreen();-->
  <!--}-->
<!--}-->

<!--// Launch fullscreen for browsers that support it!-->
<!--launchFullScreen(document.documentElement); // the whole page-->
<!--</script>-->

{% if notloc %}
<h4><script>alert("There is no any location requested from friend.")</script></h4>
{% endif %}

<img src="/static/vacay/images/processing.gif" class="glyphicon glyphicon-fire" aria-hidden="true" style="position:fixed; left:50%; float:middle;
	transform:translate(-50%, -50%); width:80px; height:auto; z-index:100; top:120px; display: none;" id="gif">

<a href="/friendprofile/{{mail.id}}">
    <img src="{{mail.photo_url}}" style="position:relative; max-width:60px; max-height:80px; width:auto; height:auto; border-radius:50%; z-index:100; left:2%; margin-top:1.5%;">
</a>

<form id="edit" action="/inloc" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Message from Friend</h1>

    <div class="container-fluid" style="margin-top:2%;">
        <div class="row">
            <div class="col-sm-6">
                <div class="pan" style="max-width:500px; height:auto; margin-bottom: auto; margin-left:auto; margin-right:0; opacity:0.9; overflow: hidden;">
                    <div class="contentform">
                        <div class="formcontent">
                            <div style="padding-left:20px; padding-right:8px; color: #fff; float:left; font-weight:600; font-size:18px; width:100%; text-overflow: ellipsis; text-align:left;">
                                <i class="fa fa-user-circle-o" style="font-size:25px; margin-right:10px;"></i>From: {{mail.from_mail}}
                            </div><br><br>
                            <div style="padding-left:8px; padding-right:8px; color: white; float:left; font-weight:600; font-size:16px; width:100%; text-overflow: ellipsis; text-align:right;">
                                <i class="fa fa-clock-o" style="font-size:25px; margin-right:10px;"></i><label id="date" style="font-weight:500;">{{mail.request_date}}</label>
                            </div><br>
                            <div id="msg1" style="padding: 10px; color: #fff; float:left; font-weight:500; font-size:16px; width:100%; border-radius:10px;
                                text-align:left; height: auto; text-overflow: ellipsis; white-space: pre-line; margin-bottom:20px;">
                                {{mail.text_message}}
                            </div>
                            <div id="link" style="width:100%; display:none;">
                                <a href="javascript:accept('accepted');">
                                    <div  id="accept" style="width:50%; float:left; color:red; font-size:18px; text-decoration: underline; text-align:center;">Accept</div>
                                </a>
                                <a href="javascript:accept('declined');">
                                    <div id="decline" style="width:50%; float:left; color:red; font-size:18px; text-decoration: underline; text-align:center;">Decline</div>
                                </a>
                            </div>
                            <div id="msg2" style="padding: 10px; color: #fff; float:left; font-weight:500; font-size:16px; width:100%; border-radius:10px; display:none;
                                background:linear-gradient(0deg,rgba(100,50,250,0.0),rgba(100,50,250,0.2),rgba(100,50,250,0.2),rgba(100,50,250,0.2),rgba(100,50,250,0.0),rgba(50,100,250,0.0));
                                text-align:left; height: auto; text-overflow: ellipsis; white-space: pre-line;">
                            </div>
                            <input type="hidden" name="lat" id="lat" value="{{mail.lat_message}}">
                            <input type="hidden" name="lng" id="lng" value="{{mail.lon_message}}">
                            <input type="hidden" name="mail_id" id="mail_id" value="{{mail.id}}">
                            <input type="hidden" name="name" id="name" value="{{mail.name}}">
                            <input type="hidden" name="service" id="service" value="{{mail.service}}">
                            <input type="hidden" name="service_reqdate" id="service_reqdate" value="{{mail.service_reqdate}}">
                            <input type="hidden" name="email" id="email" value="{{mail.from_mail}}">
                            <input type="hidden" name="me_name" id="me_name" value="{{me_name}}">
                            <input type="hidden" name="me_email" id="me_email" value="{{me_email}}">
                            <input type="hidden" name="me_photo" id="me_photo" value="{{me_photo}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="pan2" style="max-width:500px; height:auto; margin-bottom: auto; margin-left:0; margin-right:auto; opacity:0.9; overflow: hidden;">
                    <div class="contentform">
                        <div class="formcontent">
                            <center>
                                <div style="width:100%;">
                                    <label style="color:white; padding:6px 12px 6px 12px; border-radius:8px; box-shadow:0px 0px 15px rgba(0,0,0,0.6); width:auto; height: auto;"
                                           onclick="document.getElementById('edit').submit();">
                                            <img src="/static/vacay/images/loc.png" style="width:30px; height:30px; margin-right:10px; margin-bottom:5px;">Requested Location</label>
                                </div><br>
                                {% if mail.image_message_url != '' and mail.image_message_url != 'None' %}
                                    <a href="{% url 'view_mailimage' mail.id %}">
                                        <img src="{{mail.image_message_url}}" style="width:auto; height:auto; max-width:300px; max-height:300px;">
                                    </a>
                                {% endif %}
                            </center>
                            <div style="width:100%; text-align:right; float:left; margin-bottom:8px; margin-top:8px;">
                                <!--<a href="#" class="btn btn-info btn-lg" style="padding:3px 8px 3px 8px; font-size:14px; text-align:center;">-->
                                    <!--<span class="glyphicon glyphicon-trash" style="padding-right:8px;"></span>Delete-->
                                <!--</a>-->
                                <a href="{% url 'inreply' mail.id %}" class="btn btn-info btn-lg" style="padding:8px 12px 8px 12px; font-size:16px; text-align:center; margin-bottom:10%;">
                                    <span class="glyphicon glyphicon-share-alt" style="padding-right:8px;"></span>Reply
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

document.getElementById("date").innerHTML = getTime(parseInt(document.getElementById("date").innerHTML));
function getTime(ms){
    var date = new Date(ms);
    var seconds = date.getSeconds();
    var minutes = date.getMinutes();
    var hours = date.getHours();

    var year = date.getFullYear();
    var month = date.getMonth() + 1; // beware: January = 0; February = 1, etc.
    var day = date.getDate();

    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var timeStr = month + '/' + day + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;
    return timeStr;
}

</script>

<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC1e8-93-ia4seBJlMR7_BPt-pxnWGrgNA",
    databaseURL: "https://vacay-42bcd.firebaseio.com",
    projectId: "vacay-42bcd",
    storageBucket: "vacay-42bcd.appspot.com"
  };
  firebase.initializeApp(config);
</script>

<script>

    var text = document.getElementById("msg1").innerHTML;

    if (text.includes("Please review the information. If you have questions, you can reply directly to the customer. If you want to accept or decline, please click here.")){
        var index = text.indexOf("Thanks");
        document.getElementById("msg1").innerHTML = text.substring(0, index-1);
        document.getElementById("msg2").innerHTML = text.substring(index, text.length);
        document.getElementById("msg2").style.display = "block";
        document.getElementById("link").style.display = "block";
    }

    function accept(sts){
   //     alert(sts);
        send_msg(sts);
    }

    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }

</script>

<script>

var date = new Date();
var seconds = date.getSeconds();
var minutes = date.getMinutes();
var hours = date.getHours();
//
var year = date.getFullYear();
var month = date.getMonth() + 1; // beware: January = 0; February = 1, etc.
var day = date.getDate();

var ampm = hours >= 12 ? 'PM' : 'AM';
hours = hours % 12;
hours = hours ? hours : 12; // the hour '0' should be '12'
minutes = minutes < 10 ? '0'+minutes : minutes;
var timeStr = month + '/' + day + '/' + year + ' ' + hours + ':' + minutes + ' ' + ampm;

var datetime = timeStr;
var sender_email = document.getElementById("me_email").value.replace(".com","").replace(".","ddoott");
var friend_email = document.getElementById("email").value.replace(".com","").replace(".","ddoott");

function send_msg(sts){
    var messageText = '';
    if (sts == 'accepted'){
        messageText = 'Hi, ' + document.getElementById("name").value + '\n' + document.getElementById("me_name").value + ' has accepted you ' +
            document.getElementById("service").value + ' with schedule of ' + document.getElementById("service_reqdate").value + '\n' + 'Thanks\n' + datetime + '\n' + document.getElementById("me_name").value;
    }else if (sts == 'declined'){
        messageText = 'Hi, ' + document.getElementById("name").value + '\n' + document.getElementById("me_name").value + ' can\'t do you ' + document.getElementById("service").value + ' with your requested schedule of ' +
            document.getElementById("service_reqdate").value + '\n' + 'Please select another time or another service provider.\n' + 'We apologize for the inconvenience\n' + datetime + '\n' + document.getElementById("me_name").value;
    }
  //  alert(sender_email);

    if (messageText.length > 0){
        firebase.database().ref('messages/' + sender_email + '_' + friend_email).push().set({
            message: messageText,
            image:'',
            video:'',
            lat: '',
            lon: '',
            time: new Date().getTime(),
            user:sender_email
        });
        firebase.database().ref('messages/' + friend_email + '_' + sender_email).push().set({
            message: messageText,
            image:'',
            video:'',
            lat: '',
            lon: '',
            time: new Date().getTime(),
            user:sender_email
        });
        firebase.database().ref('notification/' + friend_email + '/' + sender_email).remove();
        firebase.database().ref('notification/' + friend_email + '/' + sender_email).push().set({
            sender: sender_email,
            senderName: document.getElementById("me_name").value,
            msg: messageText,
            senderPhoto: document.getElementById("me_photo").value
        });

        var params = {
            'service': document.getElementById("service").value,
            'name': document.getElementById("name").value,
            'email': document.getElementById("email").value,
            'service_reqdate': document.getElementById("service_reqdate").value,
            'status': sts,
            'mailid': document.getElementById("mail_id").value
        }
        post("/accept", params);
    }
}
</script>

{% endblock %}














