{% extends 'vacay/base_search.html' %}
{% block title %}Comments for Tips{% endblock %}
{% block body %}
<br>
<br>
<br>
<br>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
      WebFont.load({
      google: {
      families: ["Lato:100,300,400,700,900","Karla:regular","Cookie:regular"]
    }
    });
</script>

<style>

html, body{
  background: linear-gradient(0deg,rgba(100,50,250,0.0),rgba(100,50,250,0.2),rgba(100,50,250,0.2),rgba(100,50,250,0.0)),
    url("/static/vacay/images/datingbg.jpg") no-repeat center center fixed;
  background-size:cover;
}

img {
  height: 80px;
  width: 80px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

#myBtn:hover {
  background-color: blue;
}
#admin{
    display:none;
}

form h1 {
  font-size: 25px;
  background: #327a81 none repeat scroll 0% 0%;
  color: #F7D479;;
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:left
}

#edit {
  border-radius: 5px;
  max-width:700px;
  width:auto;
  margin:auto;
  opacity:0.9;
  background:white;
  background-size:cover;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}
#edit:hover {
  opacity:1.0;
}

#edit:hover > div > div > div {color:black;}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 200;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  width: 92%;
  height: 42px;
  float: left;
  padding: 0px 15px;
  opacity: 0.8;
  color:blue;
}

a {
  text-decoration:inherit
}

.form-group {
  overflow: hidden;
  width:100%;
}

.icon-case {
  width: 8%;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:green;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
  padding-top:11px;
}

i {
  color:yellow;
}

.contentform {
  padding: 10px;
}

.bouton-update{
  background-color: #845801;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index:1000;
}

.sidenav a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    float:right;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    font-size:9px;
    text-align: center;
    border-radius: 6px;
    padding: 3px 6px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#cbtn:hover .tooltiptext {
    visibility: visible;

</style>

<!--<meta name="mobile-web-app-capable" content="yes">-->
<!--<meta name="apple-mobile-web-app-capable" content="yes">-->

<!--<script>-->
  <!--function launchFullScreen(element) {-->
  <!--if(element.requestFullScreen) {-->
    <!--element.requestFullScreen();-->
  <!--} else if(element.mozRequestFullScreen) {-->
    <!--element.mozRequestFullScreen();-->
  <!--} else if(element.webkitRequestFullScreen) {-->
    <!--element.webkitRequestFullScreen();-->
  <!--}-->
<!--}-->

<!--// Launch fullscreen for browsers that support it!-->
<!--launchFullScreen(document.documentElement); // the whole page-->
<!--</script>-->

<div id="photo" style="height:auto; position:fixed; left:50%; top:180px; float:middle; transform:translate(-50%, -50%); width:100px; z-index:300; display:none;">
    <img src="{{info.photo}}" style="width:60px; height:60px; border-radius:50%;">
</div>

<div id="title" style="font-size:25px; font-weight:800; color: yellow; text-align:center; text-shadow:0px 0px 12px rgba(0, 102, 255, 0.8);
	position:fixed; left:50%; float:middle; transform:translate(-50%, -50%); width:350px; z-index:100; top:105px; display:block;">TIPS</div>
<span style="font-size:18px; font-weight:600; color: yellow; position:fixed; left:50%; float:middle; margin-top:30px;
	transform:translate(-50%, -50%); width:300px; z-index:100; top:105px;" id="subtitle">{{info.category}}</span>

<a id="cbtn" href="/add_wc_comment/{{info.id}}" style="right:20px; position:fixed; border-radius:5px; float:right; bottom:20px; z-index:200;">
    <span class="tooltiptext">Add Comment</span><br>
    <img src="/static/vacay/images/commenticon.png" style="width:60px; height:60px;">
</a>

<img src="/static/vacay/images/logo.png" style="position:relative; width:60px; height:60px; border-radius:3%; z-index:-1; left:3%;">

<div style="width:100%; height:auto;">
    <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="position:relative; height:auto; margin-top:20px;">
        <div style="padding:10px; width:25%; float:left;">
            <center>
                <a href="/profile/{{info.id}}">
                    <img src="{{info.photo}}" style="width:90px; height:90px; border-radius:50%;">
                </a>
            </center>
        </div>
        <div style="padding-left:30px; margin-top:40px; color: white; float:left; font-weight:600; font-size:20px; width:70%; text-align:left; word-break: break-all; word-wrap: break-word;">
            {{info.name}}<br>
        </div>
        <div style="padding:10px; background:rgba(0,51,0,0.5); border-radius:5px 5px 0px 0px; color: white; float:left; font-weight:500; font-size:18px; width:100%; text-align:left; white-space: pre-line; word-break: break-all; word-wrap: break-word;">
            {{info.content}}<br>
        </div>
        {% if info.link and info.link != 'None' %}
        <a href="{{info.link}}">
            <div style="padding-left:20px; padding-bottom:10px; background:linear-gradient(0deg,rgba(0,51,0,0.0),rgba(0,51,0,0.5)); border-radius:0px 0px 5px 5px; color: white; float:left; font-weight:500; font-size:16px; text-decoration: underline; width:100%; text-align:left; word-break: break-all; word-wrap: break-word;">
                {{info.link}}<br>
            </div>
        </a>
        {% endif %}
        <div style="position:relative; margin-top:10px; width:100%; height:auto; display:inline-block; margin-bottom:30px;">
            <center>
                <img src="/static/vacay/images/datingtipsimage.jpg" style="width:100%; height:auto; opacity:0.4; border-radius:5px 50px 8px 50px">
                {% if info.category == 'Dating Tips(Audience Specific)' %}
                <div style="position:absolute; top:20%; right:40%;">
                    <img src="/static/vacay/images/dating.png" style="width:80px; height:auto;">
                </div>
                {% elif info.category == 'Dating Questions(Audience Specific)' %}
                 <div style="position:absolute; top:20%; right:40%;">
                    <img src="/static/vacay/images/datingquestionimage.jpg" style="width:80px; height:auto; border-radius:50%;">
                </div>
                {% elif info.category == 'General Questions(All Audiences)' %}
                 <div style="position:absolute; top:20%; right:40%;">
                    <img src="/static/vacay/images/datingquestionimage.jpg" style="width:80px; height:auto; border-radius:50%;">
                </div>
                {% endif %}
            </center>
        </div>
    </div>
      <h4 style="color: yellow; position:fixed; left:70%; z-index:200; font-weight:600; text-shadow:0px 0px 12px rgba(0, 102, 255, 0.8);">Comments</h4>
    <div class="col-sm-6" style="height:auto; margin-top:50px;" onscroll="scrollFunction();" id="comment-list">
        {% if comments %}
            <div style="width:100%; height:100%; padding-top:1%; padding-bottom:3%;">
                {% for comment in comments %}
                <div id="edit">
                    <div class="contentform">
                        <div style="width:100%;">
                            <div style="padding:10px; width:25%; float:left;">
                                <center>
                                    <a href="#">
                                        <img src="{{comment.photoUrl}}" style="width:90px; height:90px; border-radius:50%;">
                                    </a>
                                </center>
                            </div>
                            <div style="padding-left:30px; margin-top:40px; float:left; font-weight:600; font-size:18px; width:70%; text-align:left; word-break: break-all; word-wrap: break-word;">
                                {{comment.name}}<br>
                            </div>
                            <div style="padding:10px; float:left; font-weight:500; font-size:18px; width:100%; text-align:left; word-break: break-all; word-wrap: break-word; margin-bottom:15px;">
                                {{comment.text}}<br>
                            </div><br>
                            {% if comment.imageUrl %}
                            <div style="padding:10px; width:100%;">
                                <center>
                                    <a href="#">
                                        <img src="data:image/jpeg;base64,{{comment.imageUrl}}" style="width:100%; height:auto; background:white; border-radius: 0px 0px 6px 6px;">
                                    </a>
                                </center>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
{%else %}
        <center>
            <br>
            <br>
            <br>
            <br><br>
            <h3 class="my_items col-sm-offset-1" style="color:red; margin: 30px;">No Comment for the Tips...</h3></center>

{% endif %}

    </div>
  </div>
</div>
</div>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
 //   alert("Hello");
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20 || document.getElementById("comment-list").scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";                         // Top button display none;
        if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200){
            document.getElementById("photo").style.display = "block";
        }else document.getElementById("photo").style.display = "none";
    } else {
        document.getElementById("myBtn").style.display = "none";
        document.getElementById("photo").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    document.getElementById("comment-list").scrollTop = 0;
}

</script>

{% endblock %}


















