{% extends 'vacay/base_tohome.html' %}
{% block title %}{{product.name}}{% endblock %}
{% block body %}

<br>
<br>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
      WebFont.load({
      google: {
      families: ["Lato:100,300,400,700,900","Karla:regular","Cookie:regular"]
    }
    });
</script>
<style>

html, body{
  background:linear-gradient(0deg,rgba(20,150,250,0.3),rgba(0,100,250,0.3)), url("/static/vacay/images/pattern3.jpg") no-repeat center center fixed;
  background-size:cover;
}

@font-face {
  font-family: Futura;
  src: url('.../FuturaStdLight.woff') format("WOFF");
  font-weight: 300;
}

div h1 {
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:center;
  font-family: verdana;
  <!--font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;-->
  font-weight:500;
}

#form {
  border-radius: 5px;
  max-width:500px;
  width:auto;
  height:auto;
  margin-bottom: 2% auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;
  background:linear-gradient(0deg,rgba(100,50,250,0.0),rgba(100,50,250,0.6),rgba(100,50,250,0.5),rgba(100,50,250,0.6),rgba(100,50,250,0.5),rgba(100,50,250,0.6),rgba(100,50,250,0.5),rgba(50,100,250,0.0));
  opacity:0.9;
  overflow: hidden;
  <!--box-shadow: 25px 25px 0 rgba(0, 0, 0, 0.2);-->
}
#form:hover {
  <!--background:linear-gradient(0deg,rgba(200,50,250,0.7),rgba(50,200,250,0.7));-->
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 0px 50px 50px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 92%;
  height: 42px;
  float: middle;
  padding: 0px 15px;
  opacity: 0.8;
  color:black;
}

a {
  text-decoration:inherit
}

.form-group {
  overflow: hidden;
  width:100%;
}

i {
  color:red;
}

.contentform {
  padding: 10px 10px 20px 10px;
  float:middle;
  margin:auto;
}

.bouton-update{
  background:linear-gradient(90deg,rgba(100,50,250,0.0),rgb(102, 51, 0),rgb(102, 51, 0),rgb(102, 51, 0),rgba(50,100,250,0.0));
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 12px 18px;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom:3%;
}

.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  <!--border-right: 1px dotted #CCC;-->
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
}

.items {
    color:white;
    font-size:18px;
    padding:8px 8px;
    height:42px;
}

</style>

<script>
	<!--history.pushState(null, null, location.href);-->
	<!--window.onpopstate = function () {-->
        <!--history.go(1);-->
    <!--};-->
</script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="alert" style="font-size:16px; font-weight:300; color: black; box-shadow: 8px 10px 0 rgba(0, 0, 0, 0.5);
	position:fixed; left:50%; float:middle; background-color:white; border-radius:10px; padding: 5px 15px 5px 15px;
	transform:translate(-50%, -50%); width:300px; z-index:200; top:300px; display:none;">
    <i class="fa fa-meh-o" style="font-size:22px; color:green;"></i><label style="font-size:20px; padding:10px;">Please select ...</label>
    <img src="/static/vacay/images/cancel.png" style="width:30px; height:30px; float:right; margin-top:5px;" onclick="close_alert()"><br>
    <div style="width:100%; text-align:center;">
        <a href="javascript:bucks();">
            <label style="width:90%; text-align:center; padding:4px; border-radius:20px; border:1px solid blue; color:blue;">VaCay Bucks Status</label>
        </a>
        <a href="javascript:pay_beauty();">
            <label style="width:90%; text-align:center; padding:5px; border-radius:20px; background:blue; color:white; margin-top:5px; margin-bottom:15px;">Pay Now</label>
        </a>
    </div>
</div>

<script>
    function bucks(){
        close_alert();
        window.location.href = '/bucks';
    }
    function pay_beauty(){
        close_alert();
        window.location.href = '/check_payment?proemail=' + document.getElementById("provider_email").value;
    }
</script>

<img src="/static/vacay/images/processing.gif" class="glyphicon glyphicon-fire" aria-hidden="true" style="position:fixed; left:50%; float:middle; border-radius: 1px;
	transform:translate(-50%, -50%); width:auto; z-index:100; top:120px; display: none;" id="gif">

  <div id="form">
	  {% csrf_token %}
	    <h1>{{product.name}}</h1>

    <div class="contentform">

		<div class="formcontent">
            <div class="form-group">
                <center>
                    <div style="width:100%; text-align:center;">
                        <center>
                            <img src="{{product.pictureUrl}}" style="width:100%; height:auto;">
                        </center>
                    </div>
                </center>
			</div>
            <div style="width:100%;">
                <label style="float:left; margin-left:10px; color:white; background:orange; padding:5px 20px 5px 20px; border-radius:3px 30px 3px 30px;">{{product.company}}</label>
                <a href="/product_media/{{product.itemid}}" class="btn btn-info btn-lg" style="float:right; padding:5px 8px 5px 8px; font-size:16px; text-align:center; background:green; border:1px solid white;">
                    <span class="glyphicon glyphicon-facetime-video" style="padding-right:8px;"></span>Media
                </a>
            </div><br><br>
			<div class="form-group" style="margin-top:10px;">
                <div style="width:100%;">
                    <div class="items" style="float:left; width:auto; text-align:center; white; font-weight:600;
                        font-family: 'Satisfy', Apple Chancery, cursive; font-size:22px;">{{product.brand}}</div>
                    <div class="items" style="color:white; font-weight:300; text-align:left; float:right;
                                white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">{{product.product}}</div>
                </div>
			</div>
            <div class="form-group">
                <div style="width:100%; margin-bottom:10px;">
                    <div class="items" style="color:white; font-weight:300; float:left;
                                white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">{{product.name}}</div>
                    <div class="items" style="color:white; font-weight:300; text-align:right; float:right;
                                white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">{{product.size}}</div><br>
                    <div style="width:auto; text-align:center; display:inline-block; float:left; font-size:16px; padding:3px 20px 3px 20px; color:white;
                        font-weight:600; border-radius:50px 5px 50px 5px; border:1px solid white;">{% if '$' in product.price %}{{product.price}}{% else%}$ {{product.price}}{% endif %}</div>
                </div><br>
                <div style="width:100%; margin-top:10px; float:left;">
                    <a href="https://vacayalldays.com/userloc?address={{product.location}}">
                        <div id="location" class="items" style="float:left; width:75%; color:white; text-decoration: underline; background:linear-gradient(90deg,rgba(100,50,250,0.0),rgb(0, 128, 43),rgba(50,100,250,0.0));
                                font-weight:300; white-space: nowrap; overflow:hidden; text-overflow: ellipsis;">
                            <label style="float:left; color:white;"><i class="fa fa-map-marker" style="font-size:25px; margin-right:3px;"></i></label>{{product.location}}
                        </div>
                    </a>
                </div>
			</div>
            <div style="padding:8px; color: #fff; font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
                      font-weight:300; font-size:18px; width:100%; margin-top:5px;  border-radius:5px; border:1px solid #fff;" id="desc">
                {{product.description}}
            </div>
            <br>
            <div class="form-group" style="margin-bottom:10%;">
                <div style="color:white; font-size:16px; font-weight:500;"><i class="fa fa-asterisk" style="color:white; font-size:14px;"></i> Breakdown</div>
                <center>
                    <div style="border:0.5px solid white; width:100%; display:inline-block;">
                        <div style="100%;">
                            <div style="padding:5px 8px; float:left; width:60%; color:white; border:0.5px solid white;">Total Product Price</div>
                            <div style="padding:5px 8px; float:left; width:40%; color:white; border:0.5px solid white;">
                                {% if '$' in product.price %}{{product.price}}{% else %}${{product.price}}{% endif %}
                            </div>
                        </div>
                        <div style="100%;">
                            <div style="padding:5px 8px; float:left; width:60%; color:white; border:0.5px solid white;">Processing Fee</div>
                            <div style="padding:5px 8px; float:left; width:40%; color:white; border:0.5px solid white;">
                                20%
                            </div>
                        </div>
                        <div style="100%;">
                            <div style="padding:5px 8px; float:left; width:60%; color:white; border:0.5px solid white;">Your Take Home Pay</div>
                            <div style="padding:5px 8px; float:left; width:40%; color:white; border:0.5px solid white;">
                                {% if product.providerTakeHome != '' and product.providerTakeHome != 'None' %}
                                    {% if '$' in product.providerTakeHome %}{{product.providerTakeHome}}{% else %}${{product.providerTakeHome}}{% endif %}
                                {% else %}$0
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </center>
            </div>
	    </div>

	</div>

  </div>

<script>
    function open_alert(){
        document.getElementById("alert").style.display = "block";
    }
    function close_alert(){
        document.getElementById("alert").style.display = "none";
    }
</script>

{% endblock %}















