{% extends 'vacay/base_home.html' %}
{% block title %}Welcome{% endblock %}
{% block body %}

<br>
<br>
<br>
<style>

html, body{
  background: url("/static/vacay/images/homebg.jpg") no-repeat center center fixed;
  background-size:cover;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

form h1 {
  font-size: 25px;
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  color: #F7D479;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
  text-align:center;
  font-weight:600;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#form {
  border-radius: 5px;
  max-width:500px;
  width:auto;
  height:auto;
  margin-bottom: 2% auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:2%;

  <!--background:linear-gradient(30deg,rgba(200,150,250,0.7),rgba(50,200,250,0.7));-->
  opacity:0.9;
  overflow: hidden;
  <!--box-shadow: 25px 25px 0 rgba(0, 0, 0, 0.2);-->
}
#form:hover {
  <!--background:linear-gradient(0deg,rgba(200,50,250,0.7),rgba(50,200,250,0.7));-->
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #F7D479;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 0px 50px 50px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 92%;
  height: 42px;
  float: middle;
  padding: 0px 15px;
  opacity: 0.8;
  color:black;
}

a {
  text-decoration:inherit
}

.form-group {
  overflow: hidden;
  width:100%;
}

.icon-case {
  width: 8%;
  float: left;
  border-radius: 50px 0px 0px 50px;
  background:green;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
  padding-top:11px;
}

i {
  color:yellow;
}

.contentform {
  padding: 10px;
  float:middle;
  margin:auto;
  background:linear-gradient(0deg,rgba(100,50,250,0.0),rgba(100,50,250,0.3),rgba(100,50,250,0.3),rgba(100,50,250,0.3),rgba(100,50,250,0.3),rgba(100,50,250,0.3),rgba(50,100,250,0.0));
}

.bouton-update{
  background-color: #845801;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 12px 18px;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom:3%;
}

.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  <!--border-right: 1px dotted #CCC;-->
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
}

div.home-btn {
  display: inline-block;
  border: 2px solid #fff;
  border-color: #EEE #CCC #CCC #EEE;
  font-size:12px;
  color:rgb(0, 153, 153);
  font-weight:700;
  background:linear-gradient(30deg,rgba(255, 230, 255,0.7),rgba(204, 238, 255,0.7));
  text-align: center;
  width: 23.5%;
  height:70px;
  padding: 10px 15px;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.home-large-btn {
  display: inline-block;
  border: 2px solid #fff;
  border-color: #EEE #CCC #CCC #EEE;
  background-color: white;
  text-align: center;
  width: 48%;
  height:220px;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  position: relative;
}

.btn-text {
    position: absolute;
    top: 70%;
    left: 50%;
    width:100%;
    font-size:20px;
    color:white;
    font-weight:350;
    transform: translate(-50%, -50%);
}

/* Look like a clicked/depressed button */
label.cameraButton:active {
  border-color: #CCC #EEE #EEE #CCC;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.cameraButton input[accept*="image"] {
  display: none;
}

</style>

<script>
	history.pushState(null, null, location.href);
	window.onpopstate = function () {
        history.go(1);
    };
</script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% if note %}
<h4><script>alert("You haven't been registered. Please register...")</script></h4>
    {% endif %}

{% if error %}
<h4><script>alert("Server failed. Try again ...")</script></h4>
{% endif %}

<img src="/static/vacay/images/processing.gif" class="glyphicon glyphicon-fire" aria-hidden="true" style="position:fixed; left:50%; float:middle; border-radius: 1px;
	transform:translate(-50%, -50%); width:auto; z-index:100; top:120px; display: none;" id="gif">

<div onclick="showNotification()" id="alert" style="font-size:16px; font-weight:300; color: red; text-align:center; box-shadow: 0px 0px 100px rgba(0, 0, 0, 1.0);
	position:fixed; left:50%; float:middle; background-color:white; border-radius:5px; padding: 5px 10px 5px 10px;
	transform:translate(-50%, -50%); width:300px; z-index:100; top:160px; display:none;"><i class="fa fa-bell" style="font-size:18px; color:red;"></i>
	You Received New Message!<br>
	Click here to view it.
</div>

  <form id="form">
	  {% csrf_token %}
	    <h1 style="font-size:25px; font-weight:800; margin-bottom:30px;
        color: #ffe680; text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7); text-align:center; width:100%;">WHAT DO YOU WANT TO DO?</h1>

    <div class="contentform">

		<div class="formcontent">
            <div class="form-group">
                <center>
                    <div style="width:100%; text-align:center; max-height:70px;">
                        <div class="home-btn" id="inbox" onclick="inbox()">
                            <center>
                                <img src="/static/vacay/images/mailbox.png" style="width:30px; height:auto;"><br>
                                MAILBOX
                            </center>
                        </div>
                        <div class="home-btn" id="weather" onclick="weather()" style="font-size:10px;">
                            <center>
                                <img src="/static/vacay/images/weather.png" style="width:40px; height:auto;"><br>
                                WEATHER
                            </center>
                        </div>
                        <div class="home-btn" id="nearby" onclick="nearby()">
                            <center>
                                <img src="/static/vacay/images/nearbyplacesicon.png" style="width:30px; height:auto;"><br>
                                NEARBY
                            </center>
                        </div>
                        <div class="home-btn" id="info" onclick="info()">
                            <center>
                                <img src="/static/vacay/images/infoicon.png" style="width:30px; height:auto;"><br>
                                INFO
                            </center>
                        </div>
                    </div>
                    <div style="width:100%; text-align:center; margin-top:5px; max-height:70px; display:none;">
                        <div class="home-btn" id="watercooler" onclick="watercooler()">
                            <center>
                                <img src="/static/vacay/images/watercooler.png" style="width:30px; height:auto;">
                                <div style="font-size:10px;">WATER COOLER</div>
                            </center>
                        </div>
                        <div class="home-btn" id="job" onclick="get_jobs()">
                            <center>
                                <img src="/static/vacay/images/job.png" style="width:30px; height:auto;"><br>
                                JOB
                            </center>
                        </div>
                        <div class="home-btn" id="announce" onclick="get_announces()">
                            <center>
                                <img src="/static/vacay/images/announcements.png" style="width:30px; height:auto;"><br>
                                ANNOUNCE
                            </center>
                        </div>
                    </div>
                </center>
			</div>
            <input type="hidden" id="me_email" name="me_email" value="{{me_email}}">
			<div class="form-group" style="">
                <center>
                    <div style="width:100%; text-align:center; max-height:220px;">
                        <div class="home-large-btn" id="meet" onclick="meet()">
                            <center>
                                <img src="/static/vacay/images/friendmeeting.jpg" style="width:100%; height:100%; border-radius:8px;">
                                <div class="btn-text">LET'S MEET</div>
                            </center>
                        </div>
                        <div class="home-large-btn" id="beauty" onclick="beauty();">
                            <center>
                                <img src="/static/vacay/images/beautyservicebackground.jpg" style="width:100%; height:100%; border-radius:8px;">
                                <div class="btn-text">ON DEMAND<br>SERVICES</div>
                            </center>
                        </div>
                    </div>
                    <div style="width:100%; text-align:center; margin-top:5px;">
                        <div class="home-large-btn" id="eat" onclick="eatdrink()">
                            <center>
                                <img src="/static/vacay/images/eatdrinkbackground.jpg" style="width:100%; height:100%; border-radius:8px;">
                                <div class="btn-text">WHERE TO<br>EAT/DRINK?</div>
                            </center>
                        </div>
                        <div class="home-large-btn" id="activity" onclick="activities()">
                            <center>
                                <img src="/static/vacay/images/activitybackground.jpg" style="width:100%; height:100%; border-radius:8px;"><br>
                                <div class="btn-text">ACTIVITIES</div>
                            </center>
                        </div>
                    </div>
                </center>
			</div>
	    </div>

	</div>

  </form>

<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC1e8-93-ia4seBJlMR7_BPt-pxnWGrgNA",
    databaseURL: "https://vacay-42bcd.firebaseio.com",
    projectId: "vacay-42bcd",
    storageBucket: "vacay-42bcd.appspot.com"
  };
  firebase.initializeApp(config);
</script>

<script src="/static/vacay/noti_alert.js"></script>

<script>
    function weather(){
        window.location.href = "/show_weather";
    }
    function nearby(){
        window.location.href = "/nearby";
    }
    function meet(){
        window.location.href = "/get_all_users";
    }
    function eatdrink(){
        window.location.href = "/eat_entry";
    }
    function showNotification(){
		window.location.href = "/get_notifications";
	}
	function get_jobs(){
		window.location.href = "/get_jobs";
	}
	function get_announces(){
		window.location.href = "/get_announces";
	}
	function info(){
		window.location.href = "/getinfo?category=Helpful Tips";
	}
	function watercooler(){
		window.location.href = "/get_wc?category=Helpful Tips";
	}
	function beauty(){
		window.location.href = "/beauty_entry";
	}
	function inbox(){
		window.location.href = "/inbox";
	}
	function activities(){
		window.location.href = "/activities";
	}
</script>

{% endblock %}















