{% extends 'vacay/base.html' %}
{% block title %}Manager Register{% endblock %}
{% block body %}

<br>
<br>
<br>
<style>

html, body{
  background: url("/static/vacay/images/loginbackground.jpg") no-repeat center center fixed;
  background-size:cover;
}

form h1 {
  font-size: 21px;
  background: #327a81 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 19px 22px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align:left
}

#edit {
  border-radius: 5px;
  max-width:500px;
  width:auto;
  height:auto;
  margin-top: 2%;
  margin-bottom: 2% auto;
  margin-left:auto;
  margin-right:auto;
  <!--background:linear-gradient(30deg,rgba(200,150,250,0.7),rgba(50,200,250,0.7));-->
  opacity:0.9;
  overflow: hidden;
  <!--box-shadow: 25px 25px 0 rgba(0, 0, 0, 0.2);-->
}
#edit:hover {
  <!--background:linear-gradient(0deg,rgba(200,50,250,0.7),rgba(50,200,250,0.7));-->
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 600;
  line-height: 2;
  color:#fff;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input {
  border-radius: 0px 50px 50px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  margin-right:auto;
  width: 92%;
  height: 42px;
  float: middle;
  padding: 0px 15px;
  opacity: 0.8;
  color:black;
  text-align:left;
}

select {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
  opacity: 0.8;
  color:black;
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px;
  float: left;
  padding: 15px 15px;
  opacity: 0.8;
  color:black;
}

.form-group {
  overflow: hidden;
  width:100%;
}

.icon-case {
  width: 8%;
  float: left;
  border-radius: 50px 0px 0px 50px;
  background:green;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
  padding-top:11px;
}

i {
  color:yellow;
}

.contentform {
  padding: 10px 30px 30px 30px;
  float:middle;
  margin:auto;
}

.bouton-update{
  background-color: #008CBA;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 12px 18px;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom:10%;
}

.toggle{
  color: #FFF;
  text-align: center;
  background:none;
  width: auto;
  border:1px solid white;
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.formcontent {
  width:100%;
  float:middle;
  margin:auto;
  <!--border-right: 1px dotted #CCC;-->
  box-sizing: border-box;
  padding: 0px 0px 0px 0px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
}

th {color:white;}

td {text-align:middle;}

select {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #eee;
  height: 40px;
  width:60%;
  opacity: 0.8;
  margin:auto;
  color:red;
}

#container {
    top:300px;
    width: auto;
    height: auto;
    position:fixed;
    padding:8px;
    border-radius:5px;
    z-index:100;
    left:50%;
    background:#884dff;
    display:none;
    transform:translate(-50%, -50%);
}

label.cameraButton {
  display: inline-block;
  border: 1.5px solid #666;
  border-color: #EEE #CCC #CCC #EEE;
  border-radius:50px;
  font-size:16px;
  color:white;
  width:40%;
  height:40px;
  text-align:center;
  background-color: green;
}

/* Look like a clicked/depressed button */
label.cameraButton:active {
  border-color: #CCC #EEE #EEE #CCC;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.cameraButton input[accept*="image"] {
  display: none;
}

</style>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta name="mobile-web-app-capable" content="yes">-->
<!--<meta name="apple-mobile-web-app-capable" content="yes">-->
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--<script>-->
  <!--function launchFullScreen(element) {-->
  <!--if(element.requestFullScreen) {-->
    <!--element.requestFullScreen();-->
  <!--} else if(element.mozRequestFullScreen) {-->
    <!--element.mozRequestFullScreen();-->
  <!--} else if(element.webkitRequestFullScreen) {-->
    <!--element.webkitRequestFullScreen();-->
  <!--}-->
<!--}-->

<!--// Launch fullscreen for browsers that support it!-->
<!--launchFullScreen(document.documentElement); // the whole page-->
<!--</script>-->

{% if exist %}
<h4><script>alert("You have already been registered. Please log in...")</script></h4>
{% endif %}

{% if error %}
<h4><script>alert("No provided photo. Try again ...")</script></h4>
{% endif %}

<div id="container">
    <video id="video" width="460" height="340" autoplay></video>
    <div style="width:460px; height:auto; padding:5px; background:#884dff;">
        <center>
            <button id="cancel" style="z-index:200; border-radius:50px; color:white; font-size:14px; padding:5px; background:none;">Cancel</button>
            <button id="snap" style="border-radius:50px; color:white; font-size:14px; padding:5px; margin-left:10px; background:none;">Snap Photo</button>
        </center>
    </div>
</div>

<img src="/static/vacay/images/vacaylogo.jpg" style="position:fixed; width:60px; height:60px; border-radius:50%; border:2px solid yellow; z-index:100; left:3%; top:20px;">

<a href="/managerlogin" style="position:relative; left:40%; float:middle; transform:translate(-50%, -50%); width:auto; z-index:100; ">
	<button class="toggle">LOG IN</button>
</a>

<img src="/static/vacay/images/processing.gif" class="glyphicon glyphicon-fire" aria-hidden="true" style="position:fixed; left:50%; float:middle; border-radius: 1px;
	transform:translate(-50%, -50%); width:80px; z-index:100; top:120px; display: none;" id="gif">

  <form id="edit" action="/register_manager" method="post" enctype="multipart/form-data">
	  {% csrf_token %}
	    <!--<h1>Register</h1>-->

    <div class="contentform">
    	<div id="sendmessage"> This profile has been updated successfully!</div>

		<div class="formcontent">

            <label class="" for="picture" style="margin-left:3px; color:white;">Profile Photo: </label>
            <div class="form-group" style="width:auto; margin-bottom:20px;">
            	<center>
            	    <div id="views" style="margin:15px;"></div>
                    <input type="hidden" id="x" name="x" />
                    <input type="hidden" id="y" name="y" />
                    <input type="hidden" id="w" name="w" />
                    <input type="hidden" id="h" name="h" />
            	    <button id="cropbutton" type="button" style="background:transparent; color:white; font-size:16px; border:0px; margin-bottom:8px; display:none;">Crop</button>
            	</center>
                <input required id="b64" type="text" value="" style="display:none;"/>

				<center>
                    <label class="cameraButton" style="padding:8px;">
                        <i class="fa fa-camera-retro" style="font-size:16px; color:white; margin-right:8px;"></i>Load Photo
                        <input type="file" name="photo" value="http://lorempixel.com/100/100/people/9" id="file" accept="image/*"/>
                        <input type="hidden" name="bphoto" id="bphoto">
                    </label>
                    <input type="button" name="webcam" value="Webcam" required id="webcam" style="width:40%; height:35px; background:none; display:none; text-align:center;
                        border-radius:50px 50px 50px 50px; color:white; font-size:16px; font-style:bold; font-weight:500; border: 1px solid #666;border-color: #EEE #CCC #CCC #EEE;"/>
                </center>

            </div>
            {% if type == 'company' %}
            <div class="form-group">
			        <p>Company Name <span>*</span></p>
			        <span class="icon-case"><i class="fa fa-building"></i></span>
				        <input type="text" name="company" data-rule="required" data-msg="" required id="company" value=""/>
                <div class="validation"></div>
             </div>
            {% endif %}
             <div class="form-group">
			        <p>User Name <span>*</span></p>
			        <span class="icon-case"><i class="fa fa-male"></i></span>
				        <input type="text" name="name" data-rule="required" data-msg="" required id="name" value=""/>
                <div class="validation"></div>
             </div>
			<div class="form-group">
				<p>E-mail <span>*</span></p>
				<span class="icon-case"><i class="fa fa-envelope-o"></i></span>
                	<input type="email" name="email" data-rule="required" data-msg="" required id="email" value=""/>
                	<div class="validation"></div>
			</div>
			<div class="form-group">
			        <p>Password <span>*</span></p>
			        <span class="icon-case"><i class="fa fa-lock"></i></span>
				        <input type="password" name="password" data-rule="required" data-msg="" required id="password" value=""/>
                <div class="validation"></div>
			</div>
            {% if type == 'retail' or type == 'company' %}
            <label class="" for="picture2" style="margin-left:3px; color:white;">Logo Picture: </label>
            <div class="form-group" style="width:auto; margin-bottom:20px;">
				<div style="width:100%; padding-left:100px;">
                   <img src="/static/vacay/images/photo.png" style="max-width:80px; width:auto; height:auto; margin-top:10px; margin-bottom:10px; border-radius: 5%;" id="output2">
                    <label class="cameraButton" style="font-size:14px; height:auto; padding:5px; text-align:center; margin-left:20px; font-weight:500; border:1px solid white;">
                        <i class="fa fa-camera-retro" style="font-size:18px; color:white; margin-right:8px;"></i>Load Picture
                        <input type="file" name="logo" value="http://lorempixel.com/100/100/people/9" id="picture2" accept="image/*"/>
                    </label>
                </div>
				<canvas id="canvas2" width="240" height="240" style="border-radius:50%; display:none;"></canvas>
				<input required id="b642" style="display:none;" type="text" name="b642"/>

                <script>
  					function readFile2() {

  						if (this.files && this.files[0]) {

    						var FR= new FileReader();

    						FR.addEventListener("load", function(e) {
      							document.getElementById("output2").src       = e.target.result;
      							document.getElementById("b642").value = e.target.result;
      							document.getElementById("b642").style.visibility = "hidden";
    						});

    						<!--launchFullScreen(document.documentElement); // the whole page-->

    						FR.readAsDataURL( this.files[0] );

    						ImageTools.resize(this.files[0], {
        							width: 200, // maximum width
        							height: 200 // maximum height
    							}, function(blob, didItResize) {
        							// didItResize will be true if it managed to resize it, otherwise false (and will return the original file as 'blob')
        							document.getElementById('output2').src = window.URL.createObjectURL(blob);
        							// you can also now upload this blob using an XHR.
    							});
  						}

					}
					document.getElementById("b642").style.visibility = "hidden";
					document.getElementById("picture2").addEventListener("change", readFile2);

				</script>

            </div>
            {% endif %}
			<div class="form-group" style="margin-top:10%;">
				<button type="submit" class="bouton-update" onclick="progressBar()">REGISTER</button>
			</div>
	</div>

	</div>


</form>

<script>
// Grab elements, create settings, etc.
var video = document.getElementById('video');
var dataurl;

// Get access to the camera!
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // Not adding `{ audio: true }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        video.src = window.URL.createObjectURL(stream);
        video.play();
    });
}

var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');
<!--var form = document.forms.namedItem("edit");-->

// Trigger photo take
document.getElementById("snap").addEventListener("click", function() {

   <!--form.style.display="block";-->
	context.drawImage(video, 0, 0, 320, 240);
    document.getElementById("b64").value = canvas.toDataURL();

    document.getElementById("output").src   = canvas.toDataURL();

    dataurl = canvas.toDataURL("image/png");

    document.getElementById("container").style.display = "none";

});

$(document).ready(function(){
   $('#webcam').click(function(){
       document.getElementById("container").style.display = "block";
    });
})

document.getElementById("cancel").addEventListener("click", function() {
    document.getElementById("container").style.display = "none";
});

</script>

<script>
    function progressBar(){
        var photo = document.getElementById("b64").value;
        var name = document.getElementById("name").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        if (photo.length > 0 && name.length > 0 && email.length > 0 && password.length > 0){
            document.getElementById("gif").style.display = "block";
        }else {
            alert("Please complete your info ...");
        }
    }
</script>

<script>

var crop_max_width = 250;
var crop_max_height = 250;
var jcrop_api;
var canvas;
var context;
var image;

var prefsize;

$("#file").change(function() {
  loadImage(this);
});

function loadImage(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    canvas = null;
    reader.onload = function(e) {
      image = new Image();
      image.onload = validateImage;
      image.src = e.target.result;
      document.getElementById("b64").value = e.target.result;
    }
    reader.readAsDataURL(input.files[0]);
    document.getElementById("cropbutton").style.display = "block";
  }
}

function dataURLtoBlob(dataURL) {
  var BASE64_MARKER = ';base64,';
  if (dataURL.indexOf(BASE64_MARKER) == -1) {
    var parts = dataURL.split(',');
    var contentType = parts[0].split(':')[1];
    var raw = decodeURIComponent(parts[1]);

    return new Blob([raw], {
      type: contentType
    });
  }
  var parts = dataURL.split(BASE64_MARKER);
  var contentType = parts[0].split(':')[1];
  var raw = window.atob(parts[1]);
  var rawLength = raw.length;
  var uInt8Array = new Uint8Array(rawLength);
  for (var i = 0; i < rawLength; ++i) {
    uInt8Array[i] = raw.charCodeAt(i);
  }

  return new Blob([uInt8Array], {
    type: contentType
  });
}

function validateImage() {
  if (canvas != null) {
    image = new Image();
    image.onload = restartJcrop;
    image.src = canvas.toDataURL('image/png');
  } else restartJcrop();
}

function restartJcrop() {
  if (jcrop_api != null) {
    jcrop_api.destroy();
  }
  $("#views").empty();
  $("#views").append("<canvas id=\"canvas\">");
  canvas = $("#canvas")[0];
  context = canvas.getContext("2d");
  canvas.width = image.width;
  canvas.height = image.height;
  context.drawImage(image, 0, 0);
  $("#canvas").Jcrop({
    onSelect: selectcanvas,
    onRelease: clearcanvas,
    boxWidth: crop_max_width,
    boxHeight: crop_max_height
  }, function() {
    jcrop_api = this;
  });
//  clearcanvas();
}

function clearcanvas() {
  prefsize = {
    x: 0,
    y: 0,
    w: canvas.width,
    h: canvas.height,
  };
}

function selectcanvas(coords) {
  prefsize = {
    x: Math.round(coords.x),
    y: Math.round(coords.y),
    w: Math.round(coords.w),
    h: Math.round(coords.h)
  };

  $('#x').val(Math.round(coords.x));
  $('#y').val(Math.round(coords.y));
  $('#w').val(Math.round(coords.w));
  $('#h').val(Math.round(coords.h));

}

function applyCrop() {
  canvas.width = prefsize.w;
  canvas.height = prefsize.h;
  context.drawImage(image, prefsize.x, prefsize.y, prefsize.w, prefsize.h, 0, 0, canvas.width, canvas.height);
  validateImage();
}

$("#cropbutton").click(function(e) {
  applyCrop();
});


</script>

{% endblock %}














