<html>
<head>
  <title>Search Places</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/vacay/images/vacaylogo.jpg" type="image/jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
  <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>-->
<script>
var geocoder;
var map;
var marker;
var infowindow;
var addr;
var latLng;

function initialize(){
    geocoder = new google.maps.Geocoder();
    infowindow = new google.maps.InfoWindow;
    latLng = new google.maps.LatLng(38.785678,-104.845099);
    var mapOptions = {
        zoom: 8,
        center: latLng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (p) {
            latLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
            var mapOptions = {
                center: latLng,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
            marker = new google.maps.Marker({
                position: latLng,
                map: map,
                title: "<div style = 'height:60px;width:200px'><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
            });
            google.maps.event.addListener(marker, "click", function (e) {
                var infoWindow = new google.maps.InfoWindow();
                infoWindow.setContent(marker.title);
                infoWindow.open(map, marker);
            });
            <!--latLng = new google.maps.LatLng(38.785678, -104.8454625);-->
            if (geocoder){
                codeAddress();
            }
        });
    } else {
        alert('Geo Location feature is not supported in this browser.');
    }

}

<!--function initialize() {-->

   <!--infowindow = new google.maps.InfoWindow({-->
      <!--content: 'My Location'-->
   <!--});-->
  <!--geocoder = new google.maps.Geocoder();-->
  <!--latlng = new google.maps.LatLng(38.785678,-104.845099);-->

  <!--var mapOptions = {-->
    <!--zoom: 8,-->
    <!--center: latlng,-->
    <!--mapTypeId: google.maps.MapTypeId.ROADMAP-->
  <!--}-->
  <!--map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);-->
  <!--google.maps.event.addListener(map, 'click', function() {-->
    <!--infowindow.close();-->
  <!--});-->
  <!--geocodePosition(latlng);-->
<!--}-->


function geocodePosition(pos) {

  if (marker) {
        if (infowindow) infowindow.close();
  }
  infowindow = new google.maps.InfoWindow();
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      marker.formatted_address = responses[0].formatted_address;
    } else {
      marker.formatted_address = 'Cannot determine address at this location.';
    }

    document.getElementById('addr').value = marker.formatted_address;
    document.getElementById('lat').value = marker.getPosition().lat();
    document.getElementById('lng').value = marker.getPosition().lng();
    document.getElementById('address').value = marker.formatted_address;

    document.getElementById('addr').placeholder = marker.formatted_address;
    document.getElementById('lat').placeholder = marker.getPosition().lat();
    document.getElementById('lng').placeholder = marker.getPosition().lng();
    document.getElementById('address').placeholder = marker.formatted_address;

    lat = marker.getPosition().lat();
    lng = marker.getPosition().lng();

    infowindow.setContent(marker.formatted_address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
    infowindow.open(map, marker);
  });
}

function codeAddress() {
  var address;
  var addr;
   infowindow = new google.maps.InfoWindow();

  geocoder.geocode({
    'latLng': latLng
  }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);

      document.getElementById('address').value = results[0].formatted_address;

      address = document.getElementById('address').value;
      if (marker) {
        marker.setMap(null);
        if (infowindow) infowindow.close();
      }
      marker = new google.maps.Marker({
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP,
        position: results[0].geometry.location
      });
       marker.addListener('click', toggleBounce);
      google.maps.event.addListener(marker, 'dragend', function() {
        geocodePosition(marker.getPosition());
      });
      google.maps.event.addListener(marker, 'click', function() {
        if (marker.formatted_address) {
          addr = marker.formatted_address;
          infowindow.setContent("My location:" + marker.formatted_address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
        } else {
          addr = address;
          infowindow.setContent("My location:" + address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
        }
        document.getElementById('address').value = addr;
        document.getElementById('addr').value = addr;
        document.getElementById('lat').value = marker.getPosition().lat();
        document.getElementById('lng').value = marker.getPosition().lng();

        document.getElementById('addr').placeholder = addr;
        document.getElementById('lat').placeholder = marker.getPosition().lat();
        document.getElementById('lng').placeholder = marker.getPosition().lng();

        lat = marker.getPosition().lat();
        lng = marker.getPosition().lng();

        infowindow.open(map, marker);

      });
      google.maps.event.trigger(marker, 'click');
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}


function codeAddress2() {
  var address = document.getElementById('address').value;
  var addr;
   infowindow = new google.maps.InfoWindow();

  geocoder.geocode({
    'address': address
  }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);

      if (marker) {
        marker.setMap(null);
        if (infowindow) infowindow.close();
      }
      marker = new google.maps.Marker({
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP,
        position: results[0].geometry.location
      });
       marker.addListener('click', toggleBounce);
      google.maps.event.addListener(marker, 'dragend', function() {
        geocodePosition(marker.getPosition());
      });
      google.maps.event.addListener(marker, 'click', function() {
        if (marker.formatted_address) {
          addr = marker.formatted_address;
          infowindow.setContent(marker.formatted_address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
        } else {
          addr = address;
          infowindow.setContent(address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
        }
        document.getElementById('address').value = addr;
        document.getElementById('addr').value = addr;
        document.getElementById('lat').value = marker.getPosition().lat();
        document.getElementById('lng').value = marker.getPosition().lng();

        document.getElementById('addr').placeholder = addr;
        document.getElementById('lat').placeholder = marker.getPosition().lat();
        document.getElementById('lng').placeholder = marker.getPosition().lng();

        lat = marker.getPosition().lat();
        lng = marker.getPosition().lng();

        geocodePosition(marker.getPosition());

        infowindow.open(map, marker);
      });
      google.maps.event.trigger(marker, 'click');
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}



      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

      function initMap() {

        <!--map = map;-->
        var pyrmont = {lat: map.getCenter().lat(), lng: map.getCenter().lng()};

        map = new google.maps.Map(document.getElementById('map_canvas'), {
          center: pyrmont,
          zoom: 15
        });

        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
          location: pyrmont,
          radius: 500,
          type: ['store']
        }, callback);

	    <!--map.addListener('idle', performSearch);-->
      }

	<!--function performSearch() {-->
        <!--var request = {-->
          <!--bounds: map.getBounds(),-->
          <!--keyword: 'best view'-->
        <!--};-->
        <!--service.radarSearch(request, callback);-->
      <!--}-->

      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          	for (var i = 0; i < results.length; i++) {
              createMarker(results[i]);
            }
        }
        else{
          alert("Service failed...");
        }
      }

      function createMarker(place) {

        var infowindow = new google.maps.InfoWindow();
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }

google.maps.event.addDomListener(window, "load", initialize);

</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBwhfTWDzet-mu2KwXqkfP9bnQjMaFzq4&libraries=places&callback=initialize" async defer></script>
    <style>
  html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: orange;
}
#map_canvas {
  width: 100%;
  height: 100%;
}
input{
  padding:5px;
  font-size:16px;
  border-radius:10px;
}
select{
  padding:5px;
  font-size:16px;
  border-radius:10px;
}
#button{
  background:blue;
  color:white;
  border-radius:10px;
}
#button2{
  background:green;
  color:white;
  border-radius:10px;
  margin-top:3px;
}
@media print {
  html,
  body {
    height: auto;
  }
  #map_canvas {
    height: 100%;
  }
}

#back{
     z-index:12;
     left:100px;
     margin-top:10px;
     position:fixed;
     border-radius:50px 15px 15px 50px;
     background:red;
     padding:5px 20px 5px 20px;
 }

 #back2{
     z-index:12;
     left:185px;
     margin-top:10px;
     position:fixed;
     border-radius:15px 50px 50px 15px;
     background:orange;
     padding:5px 20px 5px 20px;
 }
  </style>

</head>
<body>

  <button style="color:white; font-size:20px; font-weight:500;" id="back" onclick="back()">Back</button>

  <button id="back2" style="color:white; font-size:20px; font-weight:500;" onclick="show_control()">Search</button>

  <form id="inputbox" action="/attach_loc" method="post" enctype="multipart/form-data"
        style="width:350px; margin-top:90px; z-index:12; left:180px; float:middle; transform:translate(-50%, -50%);
         position:fixed; padding:10px; box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25); border-radius:20px; background:orange; display:none;">
    {% csrf_token %}
  <div style="display:none;">
      <input id="addr" type="text" value="" placeholder="Address..." style="max-width:400px;" name="address">
      <input id="lat" type="text" value="" placeholder="Latitude..." style="max-width:250px; margin-left:10px;" name="latitude">
      <input id="lng" type="text" value="" placeholder="Longitude..." style="max-width:250px;" name="longitude">
  </div>
      <input type="hidden" value="{{subject}}" name="subject">
      <input type="hidden" value="{{body}}" name="body">
    <img src="/static/vacay/images/cancel.png" style="width:20px; height:20px; float:right; vertical-align: middle; margin-bottom:6px;" onclick="erase()">
    <div style="width:100%;">
        <input id="address" type="text" value="" style="width:66%; float:left;" placeholder="Input address to Geocode..." required="address">
        <input type="button" value="Geocode" onclick="codeAddress2()" id="button" style="float:left; margin-left:5px;">
        <input type="submit" value="Confirm Request Address" id="button2" onclick="showInfo()" style="width:100%; text-align:center;">
    </div>
  </form>
<div id="map_canvas"></div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

function show_control(){
  document.getElementById('inputbox').style.display = 'block';
  document.getElementByid('address').value = "";
}

function erase(){
  document.getElementById('inputbox').style.display = 'none';
}

$( function() {
    $( "#inputbox" ).draggable();
} );

var draggable = document.getElementById('inputbox');
   draggable.addEventListener('touchmove', function(event) {
      var touch = event.targetTouches[0];

      // Place element where the finger is
      draggable.style.left = touch.pageX-100 + 'px';
      draggable.style.top = touch.pageY-150 + 'px';
      event.preventDefault();
}, false);
</script>
<script>
    function back(){
        history.go(-1);
    }
    function showInfo(){
        var address = document.getElementById('addr').value;
        alert('Would you select ' + address + '?');
    }
</script>
</body>
</html>



